.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-minimal {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-main {
  padding: 20px;
}

.tenant-list table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

.tenant-list th,
.tenant-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tenant-list th {
  background-color: #f2f2f2;
  color: #333;
}

.tenant-list tr:nth-child(even) {
  background-color: #f9f9f9;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 